/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuente y body */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
}

/* Sección Hero */
.hero-section {
    background: linear-gradient(120deg, #4f83cc, #63c2de);
    color: #fff;
    padding: 120px 0;  /* Aumenta el padding para más espacio */
    text-align: center;
    background-size: cover;
    min-height: 100vh;  /* Garantiza que ocupe toda la altura de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  /* Alinea el contenido verticalmente */
}

.hero-section h1 {
    font-size: 3rem;  /* Ajusta el tamaño del título */
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);  /* Sombra para hacer que el texto resalte */
}

.hero-section p {
    font-size: 1.5rem;
    margin-top: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

/* Navbar */
.navbar {
    background-color: #333;
    padding: 10px 0;
}

.navbar .navbar-nav .nav-link {
    color: white !important;
    padding: 10px 20px;
    font-size: 1.2rem;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: #007bff;
}

/* Sección de sobre nosotros */
#about {
    background-color: #ffffff;
    padding: 60px 0;
    text-align: center;
}

#about h3 {
    color: #007bff;
    font-size: 1.5rem;
}

#about ul {
    list-style-type: none;
}

#about ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

/* Sección de Test */
#testSection {
    background-color: #fff;
    padding: 40px 30px;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

/* Contacto */
#contact {
    background-color: #f7f7f7;
    padding: 60px 0;
}

#contact h2 {
    color: #007bff;
}

#contact p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

#contact .form-control {
    font-size: 1rem;
    margin-bottom: 20px;
}

#contact .btn {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    width: 100%;
}

#contact .btn:hover {
    background-color: #0056b3;
}
